---
import type { GetStaticPaths, Page } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content';
import { Image } from '@astrojs/image/components';
import { DateTime } from 'luxon';

import Layout from '@src/layouts/Layout.astro';
import Navbar from '@src/components/Navbar.astro';
import TagList from '@src/components/TagList.astro';
import MD from '@src/components/MD.astro';
import Paginator from '@src/components/Paginator.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const collection = await getCollection('blog');
  const blogPosts = collection.filter((post) => !post.data.draft).reverse();
  const pages = paginate(blogPosts, { pageSize: 5 });
  return pages;
}) satisfies GetStaticPaths;

const page : Page<CollectionEntry<"blog">> = Astro.props.page;
const posts = page.data;
---
<Layout title="Blog">
  <Navbar />
  <div class="container">
    <header>
      <h1>Blog</h1>
      <div>
        <TagList />
      </div>
      <div class="divider" />
    </header>

    {posts.map((post) => {

      const date = DateTime
        .fromJSDate(post.data.date)
        .toUTC()
        .toLocaleString(DateTime.DATE_SHORT);

      return (
        <article>
          <div class="title">
            <h3>
              <MD md={post.data.title} />
            </h3>
            <time>{date}</time>
          </div>
          {/* todo - do something responsive with image? */}
          { post.data.image &&
            <Image 
              src={post.data.image} 
              alt={post.data.title}
              width={140}
              aspectRatio="4:3"
            />
          }
        </article>
      );
    })}
  </div>
  <div class="paginator">
    <Paginator page={page} />
  </div>
</Layout>

<style lang="scss">
  .container {
    font-family: var(--font-display);
    padding: var(--size-fluid-2);

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: var(--size-fluid-3);

      h1 {
        font-size: var(--font-size-fluid-3);
      }
    }

    .divider {
      height: 2px;
      width: 50%;
      border-radius: 100%;
      background-color: var(--secondary);
      margin-top: var(--size-fluid-1);
    }

    article {
      margin: var(--size-fluid-3) var(--size-fluid-1);

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      
      --title-row: 1 / 2;
      --image-row: 1 / 2;

      &:nth-child(odd) {
        --text-alignment: left;

        --title-column: 1 / 2;
        --image-column: 2 / 3;
      }
      &:nth-child(even) {
        --text-alignment: right;

        --title-column: 2 / 3;
        --image-column: 1 / 2;
      }

      text-align: var(--text-alignment);

      .title {
        grid-row: var(--title-row);
        grid-column: var(--title-column);

        h3 {
          font-size: var(--font-size-3);
          text-decoration: underline;
        }

        time {
          font-size: var(--font-size-2);
        }
      }

      img {
        grid-row: var(--image-row);
        grid-column: var(--image-column);
        place-self: center;
      }
    }
  }

  .paginator {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
</style>