---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import slugify from '@sindresorhus/slugify';
import { Image } from 'astro:assets';
import { renderMarkdown } from '@src/markdown';
import qs from 'query-string';

export const getStaticPaths = (async () => {
  const quoteshelf = await getCollection('quoteshelf');
  const paths = quoteshelf.map((book) => {
    return {
      params: {
        author: slugify(book.data.author),
      },
    };
  });

  return paths;
}) satisfies GetStaticPaths;

const { author } = Astro.params;

const quoteshelf = await getCollection('quoteshelf');
const books = quoteshelf.filter((book) => {
  return author === slugify(book.data.author);
});

const fullName = books[0].data.author;

type Quote = {
  title: string,
  quote: string,
}

const quotes : Quote[] = books.reduce<Quote[]>((memo, book) => {
  return [...memo, ...book.data.quotes.map((quote) => (
    {
      title: book.data.title,
      quote
    }
  ))];
}, []);

type BookWithCover = CollectionEntry<'quoteshelf'> & { coverUrl: string | null };

const booksWithCovers : BookWithCover[] = await Promise.all(books.map<Promise<BookWithCover>>(async (book) => {

  const url = qs.stringifyUrl({
    url: 'https://openlibrary.org/search.json',
    query: {
      author: book.data.author,
      q: book.data.title,
    }
  });

  const response = await fetch(url);
  const info = await response.json();

  const coverId = info.docs[0]?.cover_i || null;

  if (coverId) {
    const coverUrl = `https://covers.openlibrary.org/b/id/${coverId}-M.jpg`;
    return {
      ...book,
      coverUrl,
    };
  } else {
    return book;
  }

}));


---

<NavbarLayout title={fullName}>
  <div class="container tw-container tw-mx-auto">
    <h1>{fullName}</h1>
    { booksWithCovers.map((book, index) => (
      <section>
        <h2>{book.data.title}</h2>
        { book.coverUrl && (
          <Image src={book.coverUrl} alt={book.data.title} inferSize />
        )}

      </section>
    ))}
    {/*
    <ul>
      {
        quotes.map((quote) => {
          return (
            <li class="quote">
              <div class="content tw-prose">
                <Fragment set:html={renderMarkdown(quote.quote)} />
              </div>
              <div class="title">
                {quote.title}
              </div>
            </li>
          );
        })
      }
    </ul>
    */}
  </div>
</NavbarLayout>

<style lang="scss">

.container {
  padding: var(--size-fluid-4);
  max-width: var(--size-content-3);
}

section {
  margin-bottom: var(--size-3);
}

h1 {
  font-size: var(--font-size-fluid-3);
  font-family: var(--font-display);
}

h2 {
  font-size: var(--font-size-fluid-1);
  font-family: var(--font-display);
  font-weight: 300;
  font-style: italic;
}

li.quote {

  padding: var(--size-fluid-3) 0;
  border-bottom: 1px solid var(--colour-accent);

  .content {

  }

  .title {
    margin-top: var(--size-3);
    text-align: right;
    font-style: italic;
    font-family: var(--font-display);
    font-weight: 300;

  }

}

</style>
