---
import About from '@src/components/About.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import ProjectCarousel from '@src/components/ProjectCarousel2.astro';
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import { getCollection, getEntryBySlug } from 'astro:content';

const code = await getCollection('code');

// TODO add a link to a contact form
const meta = { description: `Websites and applications that I've worked on` };
const intro = await getEntryBySlug('other', 'code-intro');

const { Content: Intro } = await intro.render();

---
<NavbarLayout title="Code" meta={meta}>
  <main class="container fade-in">
    <section class="intro">
      <h1>
        Websites and applications that I've worked on.
      </h1>
      <Intro />
    </section>
    <section x-data="{ bgShift: -1, bgHover: 0}"
      x-bind:data-bg-shift="bgShift"
      x-bind:data-bg-hover="bgHover"
      x-on:mouseenter="bgHover = 1"
      x-on:mouseleave="bgHover = 0">
      { code.map((item, index) => {

        return (
          <article x-on:mouseover={`bgShift = ${index}`}>
            <div class="carousel">
              <ProjectCarousel project={item} />
            </div>

            <a href={item.data.url}>
              <h2>{item.data.title}</h2>
            </a>

            <h3>{item.data.description}</h3>
          </article>
        );
      })}
    </section>
    <CoolBackground />
  </main>
  <section>
    <About />
  </section>
</NavbarLayout>

<style lang="scss">
  @import "../style/mixins.scss";

  .container {
    font-family: var(--font-body);

    margin-left: auto;
    margin-right: auto;

    section.intro {
      min-height: 100vh;
      padding: var(--size-fluid-4) var(--size-fluid-1);

      h1 {
        font-family: var(--font-display);
        font-size: var(--font-size-fluid-1);

        margin: 0 var(--size-fluid-4) var(--size-fluid-4);
        font-weight: bold;
        text-align: center;
      }
    }

    article {
      //margin-bottom: var(--size-fluid-2);
      text-align: center;
      min-height: 100vh;
      border-bottom: 1px solid var(--primary-light);

      display: flex;
      flex-direction: column;
      align-items: center;

      .carousel {
        margin-bottom: var(--size-fluid-1);
      }

      h2 {
        font-family: var(--font-display);
        font-size: var(--font-size-fluid-1);
      }

      h3 {
        font-size: var(--font-size-fluid-0);
        font-weight: 500;
      }

      a {
        @include hover-link;
        text-decoration: underline;
      }
    }
  }
</style>