---
import type { Props as LayoutProps } from './Layout.astro';
import NavbarLayout from './NavbarLayout.astro';
import MD from '@src/components/MD.astro';
import TagList from '@src/components/TagList.astro';
import About from '@src/components/About.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import { mediumDate } from '@src/utils';
import { Image, getImage } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import { JSDOM } from 'jsdom';
import type { GetImageResult } from 'astro';
import { DateTime } from 'luxon';
import { render } from 'astro:content';

interface Props extends LayoutProps {
  post : CollectionEntry<'cmsBlog'>
}

const { post } = Astro.props;

const title = post.data.title;
const image = post.data.image as ImageMetadata;
const author = post.data.author;
const date = mediumDate(post.data.date);
const start = post.data.start ? mediumDate(post.data.start) : null;
const tags = post.data.tags ?? [];

const description = post.data.description;

let optimizedImage = null;
/*
if (image) {
  optimizedImage = await getImage({
    src: `${import.meta.env.DIRECTUS_URL}/assets/${image}`,
    width: 280,
    height: 280,
    widths: [280, 140],
    sizes: "(min-width: 480px) 280px, 140px"
  });
}
*/

function getMetaImage(optimizedImage : GetImageResult) {
  return optimizedImage.srcSet.values.find(value => value.transform.width === 140).url;
}

const meta = {
  image: image?.src, //optimizedImage ? getMetaImage(optimizedImage) : null,
  description: post.data.description ?? post.data.title
};

async function processInlineImages(html : string) : Promise<string> {
  // the rendered HTML contains <img> tags that point to a CMS URL, but
  // in order to optimize the image, we run it through the Astro image service
  // and replace the URLs with the optimized image

  // The CMS URL is an absolute path containing a hostname. Because it's possible that
  // the content was authored while the CMS was hosted on a different server (I like to
  // experiment with cloud providers), replace the hostname with the currently configured
  // CMS URL.

  const dom = new JSDOM(html);
  const images = dom.window.document.querySelectorAll('img');

  for (const element of images) {

    const src = element.getAttribute('src');
    const srcURL = new URL(src);

    const configuredURL = `${import.meta.env.DIRECTUS_URL}${srcURL.pathname}`;

    const image = await getImage({
      src: configuredURL,
      format: 'webp',
      inferSize: true,
    });

    //console.log(`inline image ${src} -> ${image.src}`);
    element.setAttribute('src', image.src);
  }

  return dom.window.document.documentElement.outerHTML;
}

//const html = processInlineImages(post.rendered.html);
const { Content } = await render(post);


---
<NavbarLayout title={title} meta={meta}>
  <article class="container tw-container fade-in">
    <header>
      <h1>
        <MD md={title} />
      </h1>
      { author &&
      <h2 class="author">
        {author}
      </h2>
      }
    </header>
    <section>
      { description &&
      <h2>
        <MD md={description} />
      </h2>
      }
      <div class="dates">
        {start &&
          <span><time>{start}</time> - </span>
        }
        <time>{date}</time>
      </div>

      <div class="tags">
        <TagList tags={tags} justify="right" />
      </div>
      { image &&
        <div class="image image-hover image-round" transition:name={`blog-image-${post.id}`}>
          <Image src={image} alt={title} />
        </div>
      }
      { post.data.rating &&
        <sl-rating value={post.data.rating} readonly precision="0.5" />
      }
    </section>
    <main class="tw-prose blog-post">
      <Content />
    </main>

    <CoolBackground />
  </article>
  <section>
    <About />
  </section>
</NavbarLayout>

<style lang="scss">
  @import "../style/mixins.scss";

  article.container {
    margin: 0 auto;
    min-height: 100vh;

    font-family: var(--font-body);
    padding: var(--size-fluid-3);

    display: grid;
    align-content: start;

    grid-template-areas:
      "header"
      "subheader"
      "body";
    grid-template-columns: auto;
    gap: var(--size-fluid-3);

    @include sm-up {
      grid-template-areas:
        "header header"
        "subheader body";
      grid-template-columns: 1fr 2fr;
    }

    header {
      grid-area: header;

      font-family: var(--font-display);
      text-align: center;

      h1 {
        font-family: var(--font-display);
        font-size: var(--font-size-fluid-4);
        line-height: 3rem;
        text-align: center;
      }

      h2 {
        margin-top: var(--size-fluid-1);
      }
    }

    section {

      --text-alignment: center;
      --alignment: center;

      @include sm-up {
        --text-alignment: right;
        --alignment: flex-end;
      }

      grid-area: subheader;
      font-size: var(--font-size-fluid-2);
      line-height: 2rem;

      display: flex;
      flex-direction: column;
      align-items: var(--alignment);

      text-align: var(--text-alignment);

      & > * {
        margin-bottom: var(--size-fluid-1);
      }

      time {
        font-size: var(--font-size-fluid-1);
      }

      sl-rating {
        margin: var(--size-fluid-2) 0;
        --symbol-size: var(--size-6);
      }

      .image {

        margin: var(--size-fluid-2) 0;
        img {
          width: 140px;

          @include sm-up {
            width: 280px;
          }
        }
      }
    }

    main {
      grid-area: body;
      font-size: var(--font-size-fluid-0);
      margin-bottom: var(--size-fluid-4);
    }
  }
</style>
