---
import MD from '@src/components/MD.astro';
import Paginator from '@src/components/Paginator.astro';
import TagChooser from '@src/components/TagChooser.astro';
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import { Picture } from '@astrojs/image/components';
import { DateTime } from 'luxon';

interface Props {
  page: Page<CollectionEntry<"blog">>;
  tag?: string;
}

const { page, tag } = Astro.props;
const posts = page.data;
---
<NavbarLayout title="Blog">
  <div class="container tw-container">
    <header>
      <h1>Blog {tag ? `(${tag})` : ''}</h1>
      <TagChooser selectedTag={tag} />
      <div class="divider" />
    </header>
    <main>
      {posts.map((post) => {

        const date = DateTime
          .fromJSDate(post.data.date)
          .toUTC()
          .toLocaleString(DateTime.DATE_SHORT);

        return (
          <a href={`/blog/${post.slug}`} class="post">
            <article>
              <div class="title">
                <h3>
                  <MD md={post.data.title} />
                </h3>
                <time>{date}</time>
                <div class="description">
                  <h4>
                    <MD md={post.data.description} />
                  </h4>
                </div>
              </div>
              { post.data.image &&
                <div class="image">
                  <Picture
                    src={post.data.image}
                    alt={post.data.title}
                    widths={[140, 280]}
                    aspectRatio="1:1"
                    sizes="(min-width: 480px) 280px, 140px"
                  />
                </div>
              }
            </article>
          </a>
        );
      })}
    </main>
    <footer>
      <Paginator page={page} />
    </footer>

  </div>
</NavbarLayout>

<style lang="scss">
  @import "../style/breakpoints.scss";

  .container {
    margin-left: auto;
    margin-right: auto;

    font-family: var(--font-display);
    padding: var(--size-fluid-3);

    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: auto;
    @include sm-up {
      grid-template-areas:
        "main main header"
        "footer footer .";
      grid-template-columns: 1fr 1fr 1fr;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: var(--size-fluid-3);
      grid-area: header;

      h1 {
        font-size: var(--font-size-fluid-3);
      }

      .divider {
        height: 2px;
        width: 50%;
        border-radius: 100%;
        background-color: var(--secondary);
        margin-top: var(--size-fluid-1);
      }

      @include sm-up {
        h1 {
          display: none;
        }
        .divider {
          display: none;
        }
      }
    }

    main {
      grid-area: main;
    }

    a.post { 
      display: block;

      &:not(:first-child) {
        margin-top: var(--size-fluid-3);
      }

      &:nth-child(odd) {
        --text-alignment: left;
        --columns: 1fr auto;

        --title-column: 1 / 2;
        --image-column: 2 / 3;

        --description-margin: 0 auto 0 0;
      }
      &:nth-child(even) {
        --text-alignment: right;
        --columns: auto 1fr;

        --title-column: 2 / 3;
        --image-column: 1 / 2;

        --description-margin: 0 0 0 auto;
      }

      article {
        background: linear-gradient(to top left, var(--primary), var(--primary-light));
        border-radius: var(--size-1);
        padding: var(--size-fluid-2);

        display: grid;
        align-items: baseline;
        --rows: 1fr;
        
        --title-row: 1 / 2;
        --image-row: 1 / 2;

        gap: var(--size-fluid-1);
        grid-template-rows: var(--rows);
        grid-template-columns: var(--columns);

        text-align: var(--text-alignment);

        .title {
          grid-row: var(--title-row);
          grid-column: var(--title-column);

          h3 {
            font-size: var(--font-size-fluid-2);
            text-decoration: underline;
          }

          time {
            font-size: var(--font-size-fluid-1);
          }
          .description {
            display: none;
            margin: var(--description-margin);

            @include sm-up {
              display: block;
              text-align: var(--text-alignment);
              max-width: var(--size-15);

              h4 {
                font-size: var(--font-size-fluid-0);
                font-family: var(--font-body);
              }
            }
          }
        }

        .image {
          grid-row: var(--image-row);
          grid-column: var(--image-column);
          place-self: center;
        }
      }
    }

    footer {
      grid-area: footer;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

</style>