---
import '@fontsource/inconsolata/variable.css';

import '@fontsource/nunito/variable.css';
import '@fontsource/nunito/variable-italic.css';

import '@fontsource/libre-franklin/variable.css';
import '@fontsource/libre-franklin/variable-italic.css';

import { stripMarkdown } from '@src/utils';

export interface Props {
  title?: string;
  meta?: {
    description?: string,
    image?:string,
  }
}

const { meta } = Astro.props;
const title = stripMarkdown(Astro.props.title ?? 'Albert Choi');

const description = stripMarkdown(meta?.description ?? 'The homepage of Albert Choi');
const imagePath = meta?.image ?? 'favicon.png';
const imageURL = new URL(imagePath, Astro.site ?? 'https://alchoi.com');
const image = imageURL.toString();
---

<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to blog" href={`${Astro.site}rss.xml`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/dark.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>

    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TB0SNLRPM"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5TB0SNLRPM');
  </script>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @import "open-props/style";
  @import "open-props/animations";

  @import "../style/theme.css";
  @import "../style/mixins.scss";
  @import "../style/utilities.scss";

  body {
    background: linear-gradient(to bottom, var(--primary), var(--primary-light));
    color: var(--secondary);

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  // apply this to blog post content
  .tw-prose {
    a {
      @include hover-link($subtle: true);
    }
  }
</style>
